body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 20px;
}

.button-list {
    display: flex;
    flex-direction: column;
}

button {
    position: relative; /* Position relative for the button text */
    padding: 15px 30px; /* Button padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    background: linear-gradient(135deg, #007bff, #00bfff); /* Gradient background */
    color: white; /* Text color */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Cursor change on hover */
    transition: transform 0.5s ease, background-position 0.5s ease, margin-bottom 0.6s ease, margin-top 0.3s ease; /* Smooth transformations */
    transform: scale(1);
    background-size: 200% 200%; /* Size for the gradient to allow movement */
}

button:hover {
    transform: scale(1.05); /* Enlarge on hover */
    margin-bottom: 5px; /* Move the button up */
    margin-top: 5px; /* Move the button up */
    background-position: 100% 100%; /* Rotate gradient on hover */
}

#videoPlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}

#videoElement {
    width: 80%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid white; /* A border for aesthetics */
}

.video-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-controls button {
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.video-controls button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.text {
    color: white;
}
.txtep {
    color: white;
}

